@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.divider {
  background: $color-gray-1;
  min-width: unset;
  margin-top: 40px;
}

.update-container {
  .input-container,
  .input-box {
    max-width: 275px;
    width: 100%;
  }
}
