@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/responsive.scss';

.review-ticket {
  .ticket-purchase {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    .price-wrap {
      width: 75%;
    }
    .quantity-wrap {
      width: 25%;
    }
  }

  .price-area {
    &-label {
      font-size: $font-size-1;
    }
    &-input {
      padding: 0.75rem 1rem;
      font-size: $font-size-3;
      // background-color: $color-black-4;
      border: 1px solid #008ad8;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > span:last-child {
        font-size: $font-size-1;
        color: $color-white-0;
      }
    }
  }

  .email-note {
    margin-bottom: 20px;
  }
}
